header {
  background: #fff;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      display: flex;
      align-items: center;
    }
    &__controls {
      display: flex;
      align-items: center;
      .dropdown .dropdown-toggle {
        background: none;
        color: #262626;
        font-size: 0.9rem;
        border: none;
        &:focus,
        &:hover,
        &:active {
          box-shadow: unset;
          background: none;
          border: none;
        }
      }
      .dropdown-item {
        font-size: 0.8rem;
      }
    }
  }
}
.profile {
  img{
    max-width: 8rem;
    object-fit: contain;
  }
  .form-control{
    font-size: 0.8rem;
  }
  label{
    font-size: 0.8rem;
    text-align: right;
  }
}
.auth {
  display: flex;
  flex-direction: column;
}
